*{

    margin: 0.1px;
    padding: 0.1px;

}

.stickynavbar {
    overflow: hidden;
    background-color: #070404;
    padding: 2px;
    top: 0;
    border-radius: 0.2px;
    position:sticky
}
  

  .stickynavbar a {
    float: left;
    font-family: sans-serif;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 22px;
  }

  .stickynavbar a:hover {
    background-color: rgba(227, 241, 237, 0.932);
    color: #000000f3;
  }

  .p1{

    margin: 20px;
    padding: 20px;
  }
  
  .p2{

    margin: 20px;
    padding: 20px;
  }
  
  .p3{

    margin: 20px;
    padding: 20px;
  }

  .h1{

    margin: 5px;
    padding: 5px;
  }
  
  .h2{

    margin: 5px;
    padding: 5px;
  }
  
  .h3{

    margin: 5px;
    padding: 5px;
  }

.searchbar{

  float: right;
  width: 280px;
  height: 20px;
  border-radius: 1px;

}
